.features {
  display: grid;
}

.feature_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.45rem;
}
.text {
  padding: 0 1rem;
}
.feature_title {
  font-weight: var(--fw_900);
  font-size: var(--size_4xl);
  margin-block-start: 4rem;
  color: var(--Very_dark_blue);
  line-height: 1.2;
}

.feature_desc {
  color: var(--Dark_grayish_blue);
  font-size: var(--size_regular);
  letter-spacing: -0.1px;
  font-family: var(--ff_barlow);
  color: var(--Very-dark_grayish_blue);
  line-height: 1.55;
  margin-block-start: 1rem;
  font-weight: var(--fw_600);
}

.feature_link {
  text-transform: uppercase;
  color: var(--Very-dark_blue);
  font-weight: var(--fw_900);
  font-family: var(--ff_fraunces);
  font-size: var(--size_base);
  margin-block: 1.7rem 4.15rem;
  color: var(--Very_dark_blue);
  text-decoration: none;
}
.feature_link::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  margin-block-start: -0.3rem;
  border-radius: 1rem;
  opacity: 0.3;
  background-color: var(--clr);
  transition: opacity 0.3s;
}

.feature_link:hover::after {
  opacity: 1;
}
.feature_items .image {
  position: relative;
}
.image_text {
  position: absolute;
  margin-top: 13rem;
  padding: 0 1rem;
  text-align: center;
}

.image_title {
  font-weight: var(--fw_900);
  font-size: var(--size_3xl);
  margin-block-start: 8rem;
  color: var(--b-clr);
  line-height: 1.2;
  letter-spacing: 1px;
}

.image_desc {
  color: var(--Dark_grayish_blue);
  font-size: var(--size_base);
  letter-spacing: -0.1px;
  font-family: var(--ff_barlow);
  color: var(--b-clr);
  line-height: 1.55;
  margin-block-start: 1.7rem;
  font-weight: var(--fw_600);
  text-align: center;
}

@media (min-width: 448px) {
}
@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text1 image1"
      "image2 text2"
      "image3 image4";
  }

  .image1 {
    grid-area: image1;
  }

  .image2 {
    grid-area: image2;
  }

  .image3 {
    grid-area: image3;
  }

  .image4 {
    grid-area: image4;
  }

  .text1 {
    grid-area: text1;
  }

  .text2 {
    grid-area: text2;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
  .text {
    padding: 5.3rem 5rem 5.3rem 10rem;
  }

  .feature_items {
  }
  .feature_title {
    font-size: var(--size_5xl);
    align-self: flex-start;
    justify-self: start;
    text-align: left;
  }

  .feature_desc {
    justify-self: start;
    text-align: left;
  }

  .feature_link {
    align-self: flex-start;
  }

  .image_title {
    font-size: var(--size_4xl);
    text-transform: capitalize;
  }

  .image_desc {
    font-size: var(--size_lg);
  }
}
